@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
  min-height: 100vh;
}
